<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
				'background': config.fondo, 
				'padding': '20px',
				'border': '5px solid black',
				'border-color': config.color
			}"
>
  <h1>
    Bienvenido a {{ titulo }}!
  </h1>

  <h2>{{descripcion}}</h2>

  <!-- <videojuego *ngIf="mostrar_videojuegos"></videojuego>
	
  <button (click)="ocultarVideojuegos()" *ngIf="mostrar_videojuegos">Ocultar videojuegos</button>
  <button (click)="mostrarVideojuegos()" *ngIf="!mostrar_videojuegos">Mostrar videojuegos</button>
  <cursos></cursos> -->

  <zapatillas></zapatillas>
  
  
</div>


